<mat-drawer-container class="dashboard" autosize>
  <mat-drawer #navLateral class="bg-azul w-25 text-center container pt-5" mode="over">
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="navLateral.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <p>Auto-resizing sidenav</p>

  </mat-drawer>

  <mat-drawer color="primary" #perfil class="bg-azul w-25 text-center container pt-5" mode="over" position="end">
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="perfil.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <p>Perfil</p>
  </mat-drawer>

  <mat-toolbar color="primary" class="sticky ">
    <div class="container d-flex justify-content-between aling-items-center">
      <button
        mat-icon-button
        class="icono"
        aria-label="Example icon-button with menu icon"
        (click)="navLateral.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span appTituloEstilo>Registrar<b>Alumnos</b></span>
      <button
        mat-icon-button
        class="icono"
        aria-label="Example icon-button with menu icon"
        (click)="perfil.toggle()"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="container">
    <app-alumnos></app-alumnos>
  </div>

</mat-drawer-container>
